χρήση system
 
μονάδα test_module
    είσοδος x = 5
    είσοδος y = 1 - 1 + 2 + 100 + 900
    είσοδος z = 9 * 9 * 9 * 9 + 5 + 3
    είσοδος q = 1 / 1 * 2 - 5 * -5
    βάζω 'x:'
    βάζω x
    βάζω '\n'
    βάζω 'y:'
    βάζω y
    βάζω '\n'
    βάζω 'z:'
    βάζω z
    βάζω '\n'
    βάζω q 
    αν 45 == z κάνω:
        βάζω 'The condition is true'
    τέλοςr
τέλος μονάδα test_module
